
<form action="#" method="post" class="contact-form">
  <input type="hidden" name="_to" value="team@variantstudios.com">
  <input type="hidden" name="_subject" value="Contact Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>
    <div class="webform-component">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6"></textarea>
    </div>
    <input class="sendButton" type="submit" name="Submit" value="Send">
</form>
