<div class="product">
  <a class="product" href="{{ site.baseurl }}{{ product.url }}">
    <img src="{{ product.image }}" alt="{{ product.title }}" class="thumbnail"/>
    <h3>{{ product.title }}</h3>
  </a>
  <br>
  <button class="snipcart-add-item2"
      data-item-quantity="1"
    data-item-name="{{ product.title }}"
    data-item-id="{{ product.sku }}"
    data-item-image="{{ product.image }}"
    data-item-url="{{ site.url }}"
    data-item-weight="{{ product.weight}}"
    data-item-price="{{ product.price }}"
     data-item-description="{{ product.short_description }}">
    Buy Now
  </button>
</div>
