---
layout: default
---

<main>
  <section class="wrap">
    <h1 class="pagetitle">{{ page.title }}</h1>
    <div>

        <div class="">
            <img src="{{ page.image }}" alt="{{ page.title }}" class="thumbnail"/>
        </div>

        <select id="select-size">
              <option default>Select a Size</option>
            {% for variation in page.variations %}
          <option value="{{variation.id}}"
          data-item-title="{{variation.title}}" data-item-price="{{variation.price}}">{{variation.title}} - ${{variation.price}}</option>
          {% endfor %}
      </select>
      <input type="number" name="qty" id="qty" value="1" size="2">

        <button class="snipcart-add-item"
         data-item-quantity="1"
          data-item-name="{{ page.title }}"
          data-item-id=""
          data-item-image="{{ page.image }}"
          data-item-url="{{ site.url }}/products.json"
          data-item-weight="{{ page.weight}}"
          data-item-price=""
          data-item-description="{{ page.short_description }}">
          Buy Now
        </button>
        <span class="price"></span>


        <!-- <button class="snipcart-add-item"
            data-item-quantity="1"
          data-item-name="{{ page.title }}"
          data-item-id="{{ page.options[0].value }}"
          data-item-image="{{ page.image }}"
          data-item-url="{{ site.url }}{{ page.url }}"
          data-item-weight="{{ page.weight}}"
          data-item-price="{{ page.price }}"
           data-item-description="{{ page.short_description }}">
          Buy Now
        </button> -->

    </div>
  </section>
</main>
